html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden; 
    max-width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', serif;
}

img {
    max-width: 100%;
    height: auto; 
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 1.35rem;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Times New Roman', serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h2 {
    font-size: 1.5rem;
    @mixin atMedium {
        font-size: 3rem;
    }
    @mixin textGradient;
}

.go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    @mixin atMedium {
        right: 30px;
    }
    z-index: 99;
    font-size: 1.5rem;

    a {
       color: $gold;
    }
}

p {
    font-size: 1rem;
    line-height: 1.6;
    @mixin atMedium {
        font-size: 1.3rem;
    }
}

.span-bl-mb {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: $white;
}

.who-btn {
    border-radius: 50px;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    background-color: $gold;
    color: $black !important;
    cursor: pointer;
    border: none;    
    transition: transform .5s ease-out;
    &:hover {
        text-decoration: none;
        transform: scale(.9);
    }
}