.about {
    background-image: url('./assets/images/11.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $white;

    h3 {
        margin-top: 3rem;
        margin-bottom: 1.2rem;
        @mixin textGradient;
        @mixin forSmall {
            font-size: 1.3rem;
        }
    }

    &__imgs {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: .5rem;
        @mixin atMedium {
            grid-template-columns: 1fr 1fr;
            padding: 1rem;
        }        
    }
}