.about {
    background: url('./assets/images/inner-bg.jpg') no-repeat center;
    background-size: cover;
    color: $white;

    h3 {
        margin-top: 3rem;
        margin-bottom: 1.2rem;
        @mixin textGradient;
        @mixin forSmall {
            font-size: 1.3rem;
        }
    }

    &__imgs {
        display: grid;
        gap: 2rem;
        padding: .5rem;
        @mixin atMedium {
            grid-template-columns: 1fr 1fr;
            padding: 1.5rem;
        }        
    }
}