.banner {
    display: grid;
    @mixin atMedium {
        grid-template-columns: 1fr 1fr;
    }
    place-items: center;
    background: url('./assets/images/banner-bg.png') no-repeat center;
    background-size: cover;
    background-color: $black;

    @mixin atMedium {
        height: 100vh; 
    }

    &__desc {
        flex: auto;
        @mixin atMedium {
            flex: 1;
        }
        color: $gold;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-inline: 1.1rem;
        padding-top: 5rem;
        padding-bottom: 3rem;
        margin-top: 8rem;
        @mixin atMedium {            
            margin-left: 6.125rem;
            margin-top: 6rem;
        }

        h1 {
            margin-bottom: 1.2rem;
            font-size: 2rem;
            @mixin atMedium {
                margin-bottom: 1.3rem;
                font-size: 3rem;
                line-height: 1.1;
            }
            @mixin textGradient;
        }

        p {
            color: $lightgrey;
        }
    }

    &__keys {
        flex: auto;
        @mixin atMedium {
            flex: 1;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gold;

        .fa-ul {
            margin-top: 2rem;

            span {
                @mixin textGradient;
            }

            li {
                font-size: 1.5rem;
                font-weight: bolder;
                margin: 1rem;
                @mixin textGradient;
            }
        }

        @mixin forSmall {
            display: none;
        }
    }
}

.mob-image {
    @mixin atMedium {
        display: none;
    }
}