.banner {
    display: flex;
    background: $black;
    
    @mixin atMedium {
        height: 100vh;
        background-image: url('./assets/images/bg1.jpg');
        background-repeat: no-repeat;
        /*background-position: bottom left;
        background-size: contain;*/
        background-position: top;
        background-size: cover;
    }

    &__desc {
        color: $gold;
        max-width: 600px;
        max-height: 600px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-inline: 1.1rem;
        padding-top: 5rem;
        padding-bottom: 3rem;
        margin-top: 5rem;
        /*background-color: $black;*/
        @mixin atMedium {            
            margin-left: 6.125rem;
            margin-top: 6rem;
        }

        h1 {
            margin-bottom: 1.2rem;
            font-size: 2rem;
            @mixin atMedium {
                margin-bottom: 1rem;
                font-size: 3rem;
                line-height: 1.1;
            }
            @mixin textGradient;
        }

        p {
            color: $lightgrey;
        }
    }
}

.imgs_section {
    background-color: $black;
    color: $white;

    h2 {
        margin-bottom: 3rem;
    }
}

.imgs {
    display: grid;
    grid-template-columns: 1fr;
    @mixin atMedium {
        grid-template-columns: 1fr 1fr 1fr;
    }
    gap: 2rem;
}

.mob-image {
    @mixin atMedium {
        display: none;
    }
}