.imgs_section {    
    background: url('./assets/images/imgs-bg.png') no-repeat center;
    background-size: cover;
    background-color: $black;
    color: $white;

    h2 {
        margin-bottom: 3rem;
    }
}

.imgs {
    display: grid;
    grid-template-columns: 1fr;
    @mixin atMedium {
        grid-template-columns: 1fr 1fr 1fr;
    }
    gap: 2rem;
}