.innovation-section {
    background: url('./assets/images/innovation-bg.jpg') no-repeat center;
    background-size: cover;
    opacity:0.8;
}

.innovation {
    display: block;
    @mixin atMedium {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
    }

    &__div {
        color: $gold;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex: 1;
        padding: .5rem;
        @mixin atMedium {
            align-items: center;
            height: 70vh;
            width: 70vh;
            padding: 2rem;
        }

        h3 {
            font-size: 2.2rem;
            margin: .5rem 0 2rem 0;
        }

        a {
            background: $black;
            text-decoration: none;
            color: $white;
            padding: 1rem 3rem;
            border-radius: 50px;
        }
    }

    &__desc {
        background: rgba(0, 0, 0, 0.7);
        color: $gold;
        display: flex;
        margin-block: 3rem;
        flex: 1;
        padding: 1.5rem;

        p {
            font-size: 1.1rem;
            color: $white;
        }        
    }
}