.portfolio {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #faf0be;   
    @mixin atMedium {
        background: khaki;
    }
    background-color: $black;
    color: $white;

    h2 {
        /*max-width: 800px;*/
        margin: 0 auto 3rem auto;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr;
        @mixin atMedium {
            grid-template-columns: 1fr 1fr 1fr;
        }
        gap: 2rem;
        margin-bottom: 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        text-align: left;
        transition: transform ease-out .5s;

        span {
            margin-top: 2rem;
            margin-bottom: .2rem;
            @mixin forSmall {
                text-align: right;
            }
        }
        
        h3 {
            margin-top: 0;
            @mixin forSmall {
                font-size: 1.3rem;
                text-align: center;
                @mixin textGradient;
            }
        }

        &:hover {
            cursor: pointer;
            transform: translateY(-20px);
        }
    }
}