.portfolio {
    text-align: center;
    background: url('./assets/images/portfolio-bg.jpg') no-repeat center;
    background-size: cover;
    background-color: $black;
    color: $white;

    h2 {
        margin: 0 auto 3rem auto;
    }

    h3 {
        margin-top: .5rem;
        @mixin textGradient;
    }

    &__item {
        display: grid;
        @mixin atMedium {
            grid-template-columns: 1fr 1fr;
        }        
        gap: 2rem;
        place-items: center;
        margin-block: 3rem;

        &__img {
            @mixin forSmall {
                order: 1;
            }            
            img {
                @mixin atMedium {
                    max-width: 600px;
                }                
            }
        }

        &__desc {
            @mixin forSmall {
                order: 2;
            }
            span {
                align-self: start;
            }

            a {
                color: $white;
                text-decoration: none;

                span {
                    margin-left: .5rem;
                    margin-top: .2rem;
                }

                &:hover {
                    color: $lightgold;
                }
            }

            p {
                font-size: 1.25rem;
            }
        }
    }
}